*{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
}

label {
    width: 125px;
    text-align: left;
    clear: both;
    float:left;
    color: rgb(0, 0, 0);
}

input{
    border-radius: 3px;
    border: none;
}

input[type=submit], input[type=button]{
  background-color: #f5e692;
  border: none;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  padding: 3px;
  text-decoration: none;
  float: none;
  width: 300px;
  margin-top: 10px;
}

h1{
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

p{
    text-align: center;
    padding-left: 10px;
}

body{
    margin: auto;
    background-color: rgb(86, 164, 236);
}

fieldset{
    border-color: rgba(0, 195, 255, 0.267);
    width: fit-content;
    margin: auto;
    background-color: rgba(72, 81, 204, 0.521);
    border-radius: 5%;
}