*{
    font-family: 'Courier New', Courier, monospace;
    
}

:root{
    --fonte-titulo: "Lato", sans-serif;
    --fonte-texto: "Courier", monospace;
    --cor-fundo: #394867;
    --cor-fonte: #f3f1f9;
    --cor-menu: #4d3967;
    --cor-borda: #394867;
}

body{
    background: var(--cor-fundo);
    color: var(--cor-fonte);
    font-size: 18px;
}

.cabecalho{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}

.cabecalho__titulo{
    font-family: var(--fonte-titulo);
    font-weight: 700;
    text-shadow: 1px 1px 1px #394867;
}

.cabecalho__texto{
    font-family: var(--fonte-texto);
    font-weight: 400;
    text-shadow: 1px 1px 1px #394867;
}

h2{
    font-family: var(--fonte-titulo);
    color: white;
    text-shadow: 1px 1px 1px #394867;
    text-align: center;
    padding-top: 30px;
}

.principal{
    height: 75vh;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.section__menu{
    width: 10%;
    border: 2px dotted;
    padding: 10px;
    margin: 5px;
}

.section__menu__aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 68vh;
}

.section__menu__aside__titulo{
    font-family: var(--fonte-titulo);
    color: white;
    text-shadow: 1px 1px 1px #394867;
}

a{
    text-decoration: none;
    color: var(--fonte-titulo);
}

.section__principal{
    width: 100%;
    border: 2px dotted;
    padding: 20px 10px 10px 10px;
    margin: 5px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    padding-top: 30px;
}

.formulario__legenda{
    font-family: var(--fonte-texto);
    font-weight: 400;
    width: 120px;
    text-shadow: 1px 1px 1px#394867;
}

.formulario__fieldset{
    width: 25px;
    margin: 10px;
    border: 2px dotted;
}

.formulario__fieldset__texto{
    display: block;
    font-family: var(--fonte-texto);
    font-weight: 400;
    width: 120px;
    text-shadow: 1px 1px 1px#394867;
}

.formulario__texto{
    display: block;
    font-family: var(--fonte-texto);
    font-weight: 400;
    width: 80px;
    text-align: right;
    text-shadow: 1px 1px 1px#394867;
}

.formulario__fieldset__input{
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 24px;
    font-size: 16px;
    padding: 4px;
}

.formulario__fieldset__input__descricao{
    border: 2px solid var(--cor-fundo);
    border-radius: 10px;
    width: 440px;
    height: 20px;
    font-size: 16px;
    padding: 4px;
}

.formulario__fieldset__input__valor {
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
    width: 260px;
    height: 24px;
    font-size: 16px;
    padding: 4px;
}

.formulario__fieldset__botao{
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
    width: 450px;
    height: 36px;
    font-size: 16px;
    display: block;
    margin: 16px auto;
    font-family: var(--fonte-texto);
    font-weight: 400;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.rodape__texto{
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 14px;
}